.layout {
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.leftSidebar {
  background-color: #000000 !important;
  border-right: 1px solid #262626;
  overflow: auto;
  height: 100vh;
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  display: none;
}

.rightSidebar {
  background-color: #000000 !important;
  display: none;
}

@media (min-width: 768px) {
  .leftSidebar {
    display: block;
  }
}

@media (min-width: 1200px) {
  .rightSidebar {
    display: block;
  }
}
