.layout {
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.leftSidebar {
  background-color: #000000 !important;
  border-right: 1px solid #262626;
  display: none;
}

.rightSidebar {
  background-color: #000000 !important;
  border-left: 1px solid #262626;
  display: none;
}

@media (min-width: 768px) {
  .leftSidebar {
    display: block;
  }
}

@media (min-width: 1200px) {
  .rightSidebar {
    display: block;
  }
}
