.post {
  border-bottom: 1px solid #262626;
}

.post:global(.ant-card) {
  border-radius: 0px !important;
}

.post :global(.ant-card-body) {
  padding: 24px 0px !important;
}

.postHeader {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.usernameText {
  font-size: 16px;
}

.postImage img {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.likeAnimateIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e1306c;
  font-size: 68px;
  animation: animateLikeEffect 0.3s ease-in-out;
}

@keyframes animateLikeEffect {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.likeButton,
.actionButton {
  color: #ffffff;
  font-size: 20px;
  border: none;
  background: transparent;
}

.likeButton.active {
  color: #e1306c;
}

.likeButton:hover {
  color: #e1306c !important;
}

.actionButton:hover {
  color: #8e8e8e !important;
}

.captionEllipsisText {
  color: #8e8e8e;
  cursor: pointer;
}
